<div class="Box Box--condensed my-2">
  <div class="Box-header">
    <h3 class="Box-title m-0">
      <%= name %>
      <% for (const alias of (arg.aliases ?? [])) { %>
        <span class="Label">Alias: <%= alias %> </span>
      <% } %>
      <% if (arg.required) { %>
        <span class="Label Label--info">Required</span>
      <% } %>
      <% for (const require of (arg.requires ?? [])) { %>
        <span class="Label Label--info">Required by: <%= require %></span>
      <% } %>
      <% for (const conflict of (arg.conflicts ?? [])) { %>
        <span class="Label Label--success">Conflicts: <%= conflict %></span>
      <% } %>
      <% if (arg.optional) { %>
        <span class="Label Label--success">Optional</span>
      <% } %>
      <% if (arg.deprecated) { %>
        <span class="Label Label--warning">Deprecated</span>
      <% } %>
      <% if (arg.default) { %>
        <span class="Counter mr-1">Default: <%= JSON.stringify(arg.default) %></span>
      <% } %>
    </h3>
  </div>
  <div class="Box-row">
    <% if (arg.values?.length) { for (const value of arg.values) { %>
      <span class="branch-name">"<%= value %>"</span>
    <% } } else { %>
      <span class="branch-name text-bold"><%= arg.type %></span>
      <% for (const match of (arg.match ?? [])) { %>
        <span class="branch-name text-italic"><%= [match].flat(Infinity).join(" | ") %></span>
      <% } %>
    <% } %>
  </div>
  <div class="Box-row">
    <%= arg.description %>
  </div>
</div>